<h5>{{ name }}</h5>
<button class="more-info btn btn-info" name="button" type="submit">More info</button>
<button class="done btn btn-success" name="button" type="submit">Done</button>
<button class="delete btn btn-danger" name="button" type="submit">Delete</button>