<div class="field">
  <label for="item-name">Name</label><br>
  <input id="item-name" name="item[name]" size="30" type="text">
</div>
<div class="field">
  <label for="item-description">Description</label><br>
  <textarea cols="40" id="item-description" name="item[description]" rows="3"></textarea>
</div>
<div class="actions">
  <input class="btn btn-success" id="commit" type="submit" value="Save">
  <button class="cancel btn btn-danger" name="button">Cancel</button>
</div>
