<h3>
  {{ name }}
  <button class="add-item btn btn-success" name="button" type="submit">+ item</button>
  <button class="delete-store btn btn-danger" name="button" type="submit">x</button>
</h3>
<div class='item-form-container'></div>
<div class='items-container'></div>