// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.group {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	color: #FFF;
}

div.group h1 {
	font-size: 36px;
	padding: 15px 0px;
	text-align: center;
	background-color: #056;
}

div.group h3 {
	font-size: 24px;
	padding: 5px 0px 5px 0px;
	height: 35px;	
	text-align: center;
}

div.group div.stores {
	width: 100%;
	overflow: hidden;
	margin-top: 5px;
}

div.group div.stores div.store {
	width: 50%;
	min-width: 275px;
	margin-top: 10px;
	overflow: hidden;
	float: left;
}

div.group div.warning-message {
	display: none;
	position: absolute;
	padding: 20px;
	margin: 5px;
	background-color: #CCC;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #444;
}

div.group div.warning-message p {
	font-family: ActionMan;
	font-size: 18px;
	color: black;	
}

div.group div.warning-message button.btn {
	margin-right: 10px;
}

div.group button.add-item, button.add-store {
	margin-top: 2px;
	margin-right: 15px;
	float: right;
}

@media screen and (max-width:480px) {	
	div.group div.stores div.store {
		width: 100%;
		float: none;
	}
	
	div.item {
		max-width: 270px;
	}
}
